@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");

body{
    background: linear-gradient(to right, rgba(21, 71, 198, 0.706), rgb(11, 62, 84));
    margin: 0%;
}
.container{
    margin: 0 auto;
    width: 99%;
    height: 675px;
    /* border: 5px solid black; */
    overflow: hidden;
    overflow-x: hidden;
}
nav {
    height: 50px;
    width: 50%;
    background-color: rgba(0, 157, 255, 0.1);
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.484);
    position: fixed; 
    right: 27%;
    top: 0; 
    z-index: 1000; 
    background-color: transparent;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 18px;
}

nav ul li {
    float: left;
    margin-top: -22px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    font-family: cursive;
}
.modal{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.0);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s, visibility 0s 0.4s;
}
.open-modal{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.4s, top 0.4s, visibility 0s;
    z-index: 1;
}
.close-modal {
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s, visibility 0s 0.4s;
}
.modal img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.modal .modalTitle{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.modal button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.titlePrincipal {
    position: relative;
    top: 6%;
    right: -31%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-family: cursive;
    font-size: 60px;
    border-bottom: 0.2vw solid white; 
    height: 100px;
    overflow: hidden;
    margin: 20px;
    margin-bottom: 20px; 
    animation: titlePrincipal 2.5s linear forwards infinite alternate-reverse;
}
@keyframes titlePrincipal{
    0%{
        width: 0;
        height: 0;
    }
    30%{
        width: 20vw;
        height: 0;
    }
    60%{
        width: 30vw;
        height: 6vw;
    }
    80%{
        width: 30vw;
        height: 6vw;
    }
    100%{
        width: 25vw;
        height: 6vw;
    }
}
.titleMisProyectos{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    font-size: 50px;
    font-family:  cursive;
}
.subTitle{
    display: absolute;
    text-align: center;
    position: absolute; 
    top: 220px;
    right: -1%;
    width: 100%; 
    font-size: 50px;
    font-family: cursive;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      color: #fff;
      text-shadow: 0 0 10px #183736, 0 0 20px #094340, 0 0 30px #74d0cb, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    to {
      color: gray;
      text-shadow: 0 0 20px #1ef2e7, 0 0 30px #3ae1d9, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}
.parrafoPrincipal{
    color: rgb(255, 255, 255);
    font-size: 24px;
    position: absolute;
    top: 46%;
    left: 43%; 
    font-family: monospace;
    border-left: 3px solid white;
    white-space: nowrap;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
    width: 0; /* Se inicia sin ancho */
    position: absolute;
    animation: typing 4s steps(35) 1s forwards, erasing 4s steps(35) alternate-reverse, parpadeo 1s infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes erasing {
    from {
        width: 40%;
    }
    to {
        width: 0;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
@keyframes parpadeo {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: white; /* Color del borde que parpadea */
    }
    100% {
        border-left-color: transparent;
    }
}

.parpadeo {
    border-left: 3px solid transparent; /* Borde izquierdo inicial */
    animation: parpadeo 1s infinite; /* Animación de parpadeo */
}
.imagen-de-allan{
    position: absolute; /* Cambio a posición fija */
    top: 34%; /* Ajusta la posición desde la parte superior */
    right: 58%; /* Ajusta la posición desde la derecha */
    width: 220px;
    height: 220px;
    border-radius: 999px;
    border: 5px solid white;
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.484);
    transition: all 3s ease;

}
.imagen-de-allan:hover{
    filter: blur(5px)
}
.iconGitHub{
    display: flex;
    justify-content: center;
    width: 40px;
    position: absolute;
    top: 56%;
    left: 50%;
}
.titleMisProyectos{
    position: absolute;
    top: 60%;
    right: 45%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: yellow;
}
.imagen-proyectos{
    width: 250px;
    height: 230px;
    padding: 10px; 
    border-radius: 8px;
    background: rgb(0, 0, 0);
}
.GaleriaProyectos{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: absolute;
    top: 112%;
    right: 69%;
    gap: 20px;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease;
    
}
.proyectos-container {
    border: 5px solid rgba(0, 0, 0, 0.4) ; /* Cambia el color y grosor del borde */
    padding: 170px; /* Ajusta el espacio interno entre el contenido y el borde */
    margin-top: 100px; /* Ajusta el espacio superior */
    width: 60%; /* Ajusta el ancho del contenedor si es necesario */
    padding-right: 170px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: #fff;
    box-shadow: 10px 5px 5px rgba(84, 84, 84, 0.706);

}
.GaleriaProyectos a:hover{
    margin-top: -20%;
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra al pasar el ratón */
    transition: all 0.3s ease-in-out;
}
a{
    text-decoration: none;
    color: #00bbef;
}
.title{
    position: relative;
    right: 10px;
    color: rgb(11, 174, 255);
}
/* Ajustes para dispositivos móviles */
@media (max-width: 768px) and (max-width: 1024px){
    body{
        margin: 0;
        padding-left: 0%;
        padding-right: 0%;
    }
    .container {
        width: 250%;
        padding: 20px;
        position: relative;
        left: -75%;
    }
    .titlePrincipal {
        position: absolute;
        top: 10%;
        right: 40%;
        text-align: center;
        color: rgba(255, 255, 255, 0.88);
        font-family: cursive;
        font-size: 60px;
        border-bottom: 0.2vw solid white;
        height: 100px;
        overflow: hidden;
        margin: 20px;
        margin-bottom: 20px;
        animation: animacion-titulo 4s ease-in-out forwards infinite alternate-reverse;
    }
    
    @keyframes animacion-titulo {
        0% {
            width: 0;
            height: 0;
        }
        50% {
            width: 45vw;
            height: 15vw;
        }
        75% {
            width: 55vw;
            height: 20vw;
        }
        100% {
            width: 65vw;
            height: 25vw;
        }
    } 
    .subTitle{
        text-align: center;
        position: absolute;
        top: 40%;
        left: -22px;
    }
    .imagen-de-allan{
        width: 120px;
        height: 120px;
        position: absolute;
        top: 42%;
    }
    nav {
        position: static;
        top: 0;
        height: 3%;
        width: 100%; 
        margin: 0;
        background-color: #17181C;
        text-align: center;
    }

    nav ul {
        display: flex; 
        flex-direction: row; 
        padding: 0;
        justify-content: center;
        gap: 4%;
    }

    nav ul li {
        list-style: none;
        margin: 0; 
    }

    nav ul li a {
        display: block;
        font-size: 14px; 
        padding: 5px ;        
        color: white; 
        text-decoration: none;
        padding-left: 0%;
        padding-right: 0%; 
    }
    .titleMisProyectos{
        position: absolute;
        top: 60%;
        left: 38%;
    }
    .proyectos-container{
        width: 5%;
        height: 1060px;
    }
    .GaleriaProyectos {
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 15%;
        top: 110%;
    }

    .GaleriaProyectos a {
        width: 90%;  /* Adaptar las tarjetas al tamaño de pantalla en móvil */
    }
    .cursos-container{
        width: 100vw; /* Usa todo el ancho del viewport */
        height: 1330px;
        position: absolute; /* Mantén relative para mejor control */
        top: 320%; /* Ajuste de la posición vertical */
        left: 5%; /* Ajuste de alineación */
        box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
        padding: 20px; /* Reduce el padding para evitar expansión innecesaria */
    }
    .cursos{
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 12%;
        margin-top: -740%;
    }
    .title-cursos{
        position: absolute;
        top: 300%;
        right: 40%;
    }
    .modal {
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    body{
        margin: 0;
    }
    nav{
        position: static;
        width: 30%;
        height: 5%;
        margin-top: 0%;
        margin-left: 32%;
    }
    nav ul {
        display: flex; 
        flex-direction: row;
        margin-top: 0; 
        padding: 0;
        justify-content: center;
        gap: 4%; 
    }
    
    h1.title, h2.subTitle, h2.titleMisProyectos {
        font-size: 1.5em; /* Reducir el tamaño de los títulos en pantallas muy pequeñas */
    }

    .GaleriaProyectos a {
        width: 100%;  /* Ocupa todo el ancho en pantallas pequeñas */
    }

    .modal {
        position: absolute;
        left: 47%;
        width: 30%;
        height: 50%;
        padding: 20px;
    }
}

@keyframes show{
    from{
        opacity: 0;
        scale: 20%;
    }
    to{
        opacity: 1;
        scale: 100%;
        transform: translateX(0);
    }
}

img{
    animation: show linear;
    animation-timeline: view();
    animation-range: entry 20% contain 10%;
    animation-fill-mode: both; /*La animacion no se regresa a su estado original*/
}
.cursos-container{
    border: 5px solid rgba(0, 0, 0, 0.4) ; /* Cambia el color y grosor del borde */
    padding: 170px; /* Ajusta el espacio interno entre el contenido y el borde */
    margin-top: 30px; /* Ajusta el espacio superior */
    width: 60%; /* Ajusta el ancho del contenedor si es necesario */
    padding-right: 170px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 10px 5px 5px rgba(84, 84, 84, 0.706);
    margin-bottom: 10%;
}
.cursos {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: absolute;
    top: 190%;
    right: 70%;
    gap: 20px;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cursos a:hover {
    margin-top: -20%;
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra al pasar el ratón */
    transition: all 0.3s ease-in-out;
}
.title-cursos{
    text-align: center;
    margin-top: 120px;
    color: yellow;
}
.title-cursos-img{
    text-align: center;
    color: white;
}
.title-proyectos-img{
    text-align: center;
    color: white;

}
.imagen-cursos{
    width: 250px;
    height: 230px;
    padding: 10px; 
    border-radius: 8px;
    background: rgb(0, 0, 0);
}